/* #navbar{
    flex-direction: column;
}

#home{
    height: 515px;

}
#home::before{
    height: 500px;
}

#services1{

    flex-direction: column;
}
#services1 .box{
}
#clients{
overflow: hidden;
}
#contact {

} */